body {
  font-family: sans-serif; }

nav {
  margin: 0;
  padding: 0; }
  nav li {
    display: inline-block;
    padding: 0;
    margin: 0; }
    nav li a {
      text-decoration: none;
      padding: .5em .4em;
      color: #777777;
      float: left;
      width: auto; }

.navLinkActiv {
  color: black;
  box-sizing: border-box; }

.hero {
  background-image: url("../images/background1.jpg");
  padding: 4.375em 0;
  margin-bottom: 2em;
  display: inline-block;
  margin: 0 auto 3.1875em;
  width: 100%;
  box-sizing: border-box;
  text-shadow: 3px 3px 0px #000; }
  .hero h1 {
    color: white;
    font-weight: 400;
    width: 10em;
    text-align: center;
    margin: 0 auto; }

.customerInfo {
  margin: 0 .625em;
  text-align: center;
  color: white;
  box-sizing: border-box; }
  .customerInfo .priceOption1 {
    background-color: #519251;
    padding: 1.9em 3em; }
  .customerInfo .priceOption2 {
    background-color: #2C4985;
    padding: 1.9em 3em; }
  .customerInfo .priceOption3 {
    background-color: #000000;
    padding: 1.9em 3em; }
  .customerInfo .personalFeature {
    color: #526066;
    border-bottom: solid .1em #DDDDDD;
    border-left: solid .1em #DDDDDD;
    border-right: solid .1em #DDDDDD;
    padding: 1em;
    background-color: #F7F7F7; }
  .customerInfo .title {
    padding-bottom: .1em;
    color: #FFFFFF; }
  .customerInfo .price {
    font-size: 6em;
    color: #FFFFFF; }
  .customerInfo .subtitle {
    padding: 0;
    color: #9D9D9D; }
  .customerInfo .btnContainer {
    border-bottom: solid .1em #DDDDDD;
    border-left: solid .1em #DDDDDD;
    border-right: solid .1em #DDDDDD;
    padding: 1.6em;
    margin-bottom: 2.3em; }
    .customerInfo .btnContainer button {
      background-color: white;
      color: black;
      padding-bottom: 0.4875em;
      padding-top: 0.4875em;
      border: .12em solid #dddddd;
      border-radius: 2em;
      width: 5.75em;
      margin: 0 auto; }

.features {
  margin: 7.0625em 2.3125em 2em 2.3125em;
  text-align: left;
  box-sizing: border-box; }
  .features .featureInfo {
    margin-bottom: 3.625em; }
  .features h3 {
    font-family: 'Varela Round'; }

.promo {
  background-color: black; }
  .promo p {
    color: #888888;
    padding: .5em 2.1em;
    margin: auto; }
    .promo p a {
      color: #DCDCDC; }

@media (min-width: 479px) {
  nav {
    margin: 0;
    padding: 0; }
    nav li {
      display: inline-block;
      padding: 0;
      margin: 0; }
      nav li a {
        text-decoration: none;
        padding: .5em 1em;
        margin-left: 1em;
        color: #777777;
        float: left;
        width: auto; }

  .hero {
    background-image: url("../images/background1.jpg");
    padding: 9.125em 0;
    margin-bottom: 2em;
    display: inline-block;
    margin: 0 auto 3.1875em;
    width: 100%;
    box-sizing: border-box;
    text-shadow: 3px 3px 0px #000; }
    .hero h1 {
      color: white;
      font-weight: 400;
      width: 10em;
      text-align: center;
      margin: 0 auto; } }
.navLinkActiv {
  color: black;
  box-sizing: border-box; }

.promo {
  background-color: black; }
  .promo p {
    color: #888888;
    padding: 2em 3.3125em;
    margin: 0 auto;
    text-align: center; }
    .promo p a {
      color: #DCDCDC; }

@media (min-width: 768px) {
  .customerInfo {
    margin-right: 6px;
    float: left;
    width: 31.1%;
    padding: 0 .1em; }
    .customerInfo .priceOption1 {
      background-color: #519251;
      padding: 1em 0; }
    .customerInfo .priceOption2 {
      background-color: #2C4985;
      padding: 1em 0; }
    .customerInfo .priceOption3 {
      background-color: #000000;
      padding: 1em 0; }
    .customerInfo .title {
      padding-bottom: .1em;
      color: #FFFFFF;
      font-size: .9em; }
    .customerInfo .price {
      font-size: 5em;
      color: #FFFFFF; }
    .customerInfo .subtitle {
      padding: 0;
      color: #9D9D9D; }

  .features {
    margin: 0;
    overflow: hidden;
    display: inline-block; }
    .features .featureInfo {
      margin: 1.125em 1.5625em;
      width: 40%;
      display: inline-block;
      margin-left: 3.0625em;
      vertical-align: top; }
    .features h3 {
      font-family: 'Varela Round'; }
    .features p {
      width: 100%;
      margin: 0;
      vertical-align: top; } }
/*@media (min-width: 61.1875em) {

}*/

/*# sourceMappingURL=main.css.map */
